.app-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-right: 150px;
  color: black;
}

.app-container .first-half {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.app-container .second-half {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

button {
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
}

button.master-switch {
  margin-left: 200px;
  color: black;
}

.light-on {
  background-color: yellow;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.light-off {
  background-color: white;
  border: solid black 1px;
}

button.master-on {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

button.master-off {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
